<html>
	<head>
		<meta charset="utf-8">
		{% load staticfiles %}
		<link type="image/x-icon" href="{% static "imatges/logo_final_title.ico" %}" rel="icon" /> 
		<title>Faceschool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
        	<script type="text/javascript" src="{% static "js/base.js" %}"></script>
        	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        	<script type="text/javascript" src="{% static "js/funcions_ajax.js" %}"></script>
	</head>
	<body>
		<header class="header_top">
			<section class="logo_section">
				<img src="{% static "imatges/logo_final.png" %}" alt="logo_faceschool">
			</section>
			<section class="title_top_menu">
				<h1>FACESCHOOL</h1>
			</section>
			<nav class="header_top_menu">
				<img id="menu_img" src="{% static "imatges/menu.png" %}" alt="menu">
			</nav>
		</header>
		<nav class="menu_settings">
			<p id="a1" class="a"><a href="{% url 'django.contrib.auth.views.login' %}">LOG IN</a></p>
			<p id="a2"><a href="{% url 'django.contrib.auth.views.logout' %}">LOG OUT</a></p>
			<p id="a3"><a href="#">AJUDA</a></p> 
			<p id="a4" class="b"><a href="#">PERFIL</a></p>
		</nav>
		<section class="content">
			{% block content %}{% endblock %}
		</section>
	</body>
</html>
