{% extends "base.html" %}

{% block content %}
<section class="total">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form class="login_form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td class="label_log">{{ form.username.label_tag }}</td>
    <td class="input_log">{{ form.username }}</td>
</tr>
<tr>
    <td class="label_log">{{ form.password.label_tag }}</td>
    <td class="input_log">{{ form.password }}</td>
</tr>
</table>

<input class="log_button" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</section>
{% endblock %}
