{% extends "base.html" %}
{% block content %}
<section class="total_main">
	<section class="channels">
		<h1> CANALS </h1>
		<ul>
		{% for canal in canals_subs %}
		    <li> <a href="/web/channel/{{ canal.id }}">  {{ canal.topic }}  </a>  <p> {{ canal.description }} </p></li>
		{% endfor %}
		</ul>
	</section>
	<ul class="links">
		<li><a href="http://localhost:8000/web/badw">AFEGEIX UNA PARAULA PROHIBIDA</a></li>
		<li><a href="http://localhost:8000/web/goodw">AFEGEIX UNA PARAULA PERMESA</a></li>
		<li><a href="http://localhost:8000/web/removebadw">SUPRIMEIX UNA PARAULA PROHIBIDA</a></li>
		<li><a href="http://localhost:8000/web/removegoodw">SUPRIMEIX UNA PARAULA PERMESA</a></li>
	</ul>
</section>
{% endblock %}