{% extends "base.html" %}
{% block content %}
<h1>Posts</h1>

	<form action="{{request.path}}" method="post"  enctype="multipart/form-data">
		{% csrf_token %}
		
		{% for field in form_post %}
		
		<div class="fieldWrapper">

			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
			
		</div>
		
		{% endfor %}
		
		<input type="submit" value="Envia" />
		
	</form>
	
	{% for like in likes %}
	{{ like.post }}
	{{ like.user }}
	{{ like.date }}
	{% endfor %}

<br><br>
		{% for post in posts %}
		<ul>

			<li>{{ post.user }} </li>
			<li> <img src="{{MEDIA_URL}}{{ post.user.profile_image }}" alt="user_image" width="100" height="100"> </li>
			<li>  
				{% if post.pub_edit %} 
					{{ post.pub_edit }}
				{% else %}
					{{ post.pub_date }}
				{% endif %}
			</li>


			{% if post.image %}
			<li><img src='{{MEDIA_URL}}{{post.image}}' alt='post_image' width=40%>	</li>
			{% endif %}

			<li>{{ post.text }}</li>

			
			<li> <button id="post_like" class="{{ post.id }}d"> LIKE </button></li>
			<li> <button id="post_dislike" class="{{ post.id }}d"> DISLIKE </button></li>
			
		</ul>

		{% endfor %}
{% endblock %}
		
