body, html {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.header_top {
	display: inline-flex;
	display: -webkit-inline-flex;
	height: 60px;
	background-color: black;
	width: 100%;
	justify-content: space-between;
}

.header_top .logo_section {
	display: flex;
	display: -webkit-flex;
	width: 15%;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.header_top .logo_section img {
	width: 80px;
	min-width: 40px;
	min-height: 30px;
	height: 50px;
	border-radius: 10px;
}

.header_top .title_top_menu {
	display: flex;
	display: -webkit-flex;
	width: 60%;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.header_top .title_top_menu h1 {
	color: white;
	font-family:Georgia,"arial",Times,serif;
    	font-weight:normal;
    	text-shadow: 0 0 1 black;
    	font-weight: bold;
    	font-size: 90%;
}

.header_top .header_top_menu {
	display: flex;
	display: -webkit-flex;
	width: 15%;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.header_top .header_top_menu img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

.menu_settings {
	display: inline-flex;
	display: -webkit-inline-flex;
	width: 95%;
	background-color: black;
	align-self: center;
	-webkit-align-self: center;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	height: 50px;
}

.menu_settings p {
	text-align: center;
	height: 85%;
	background-color: white;
	width: 25%;
	display: flex;
	display: -webkit-flex;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.menu_settings p.a {
	margin-left: 2%;
}

.menu_settings p.b {
	margin-right: 2%;
}

.menu_settings p a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 100%;
	align-self: center;
	-webkit-align-self: center;
	text-align: center;
	border-radius: 10px;
}




